<!-- end of content -->
				
			</div>
		</div>
	
			
	</div>

<!--- sidebar -->
	<div id="sidebar">
		<ul>
		
						<li>

<form method="get" action="http://www.google.com/search">
<label class="hidden" for="s">Search for:</label>
<input type="hidden" name="domains" value="weichselbraun.net" />
<input style="visibility:hidden" type="radio" name="sitesearch" value="weichselbraun.net" checked="checked" />
<div>
<input type="text" value="" name="q" id="s" maxlength=255 />
<input type="submit" id="searchsubmit" value="Search" />
</div>
</form>

			</li>

			<li class="pagenav"><h2>Current Lectures</h2>
            <ul><li>University of Applied Sciences Chur</li>
            <ul>
              <li><a href="http://moodle.htwchur.ch">Database Systems</a></li>
              <li><a href="http://moodle.htwchur.ch">Master Thesis</a></li>
           </ul>
            <li>Vienna University of Economics and Business</li>
            <ul>
                <li><a href="/dbs/">Databases</a></li>
                <!-- <li><a href="/ir/">Information Retrieval</a></li> -->
                <!-- <li><a href="/java/">Java Programming</a></li> -->
                <!-- <li><a href="/linux/">Linux</a></li> -->
                <!-- <li><a href="/sql2/">SQL 2</a></li> -->
           </ul></li>
           </ul>
			</li>



			<li class="pagenav"><h2>Related</h2>
            <ul>
                <li><a href="http://www.modul.ac.at">MODUL University Vienna</a></li>
                <li><a href="http://www.htwchur.ch/en">University of Applied Sciences, Chur</a></li>
                <li><a href="http://www.uwa.edu.au">University of Western Australia</a></li>
                <li><a href="http://www.wu.ac.at">Vienna University of Economics and Business</a></li>
           </ul></li>
			</li>

			<li class="categories"><h2>Software</h2>
            <ul>	
              <li><a href="http://www.semanticlab.net/index.php/BibTexSuite" title="Tools for handling BibTeX files">bibTexSuite</a></li>
              <li><a href="http://www.semanticlab.net/index.php/EWRT">eWRT - easy Web Retrieval Toolkit</a></li>
              <li><a href="http://www.semanticlab.net/index.php/PgEasyPart" title="PgEasyPart">PgEasyPart</a></li>

           </ul></li>
			<li id="linkcat-2" class="linkcat"><h2>Thesis</h2>
	<ul>
<li><a href="http://www.semanticlab.net/index.php/Thesis">Open and completed topics</a></li>
<li><a href="http://www.semanticlab.net/index.php/Thesis_submission">Submission guidelines</a></li>
<li><a href="http://www.semanticlab.net/index.php/Cite_literature">Citation Rules</a></li>
	</ul>
</li>

			<li><h2>Meta</h2>
			<ul>
              <li><a href="http://eprints.weblyzard.com">eprints.webylzard.com</a></li>
              <li><a href="http://www.semanticlab.net">semanticlab.net</a></li>
      	    </ul>
			</li>

					</ul>
	</div>



<hr />
</div>
<!-- footer-->
<div id="footer"> 
    <p> 
        &copy; Albert Weichselbraun 2005-2012<br />      
    </p> 
</div> 

		
</div>
</body>


</html>
