<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head profile="http://gmpg.org/xfn/11">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Albert Weichselbraun</title>
  <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26704408-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>
<div id="page">


 <div id="header">
    <a href="http://www.informationswissenschaft.ch/">
    <img src="../images/htw_sii_logo.png" title="University of Applied Sciences Chur" align="right" alt="University of Applied Sciences Chur" border="0"/>
    </a>
	<h1><a href="http://weichselbraun.net">Albert Weichselbraun</a></h1>
	<div class="description">University of Applied Sciences Chur<br/>Swiss Institute for Information Research</div>
</div>

<div id="hmenu">
<ul>
	<li><a href="../index.html">Home</a></li>
	<li class="page_item page-item-2"><a href="/publications/" title="Publications">Publications</a></li>
	<li class="page_item page-item-3"><a href="../projects.html" title="Research Projects">Research Projects</a></li>
	<li class="page_item page-item-3"><a href="../teaching.html" title="Teaching">Teaching</a></li>
	<li class="page_item page-item-3"><a href="../community.html" title="Service to the Scientific Community">Community</a></li>
        <!-- 
	<li class="page_item page-item-3"><a href="../administration.html" title="Administration">Administration</a></li>
        -->
</ul>
</div>
<hr />

<div id="wrapper">


<!-- this file is added to ~/style/header.html
     to form head.html used by bibPublish -->

<div id="content">

        <div class="post" id="post-3">
		<h2>Publications and Talks</h2>
           <div class="entry">

<ul class="nav">
  <li class="nav"><a class="nav" href="#book">Authored Books</a></li>
  <li class="nav"><a class="nav" href="#article">Journal Articles</a></li>
  <li class="nav"><a class="nav" href="#incollection">Book Chapters</a></li>
  <li class="nav"><a class="nav" href="#inproceedings">Conference Proceedings</a></li>
  <li class="nav"><a class="nav" href="#talk">Talks</a></li>
  <li class="nav"><a class="nav" href="#dissertation">Doctoral Thesis</a></li>
  <li class="nav"><a class="nav" href="#masterthesis">Master Thesis</a></li>
</ul>

<br />


