<html>
<head>
<title>Albert Weichselbraun FIDES (Forschungs-Information-Dokumentation-Evaluation)</title>

<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="http://bach.wu-wien.ac.at/fides/css/layout.css" type="text/css">
<link rel=stylesheet type="text/css" href="/~aweichse/aw.css">

<body> 
<p/>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=2 WIDTH="100%" BGCOLOR="midnightblue" >
<tr bgcolor="white"><td></td><td></td></tr>
<TR>
<TD ALIGN=LEFT><FONT COLOR="#FFFFFF"><FONT SIZE=+1>&nbsp;
<B>Mitarbeiter:</B> Albert Weichselbraun</FONT></FONT></TD>

<TD ALIGN=RIGHT><FONT COLOR="#FFFFFF"><FONT SIZE=+1><A HREF="/" style="color:white">Home</A>&nbsp;</FONT></FONT></TD>
</TR>
</TABLE>



<P/>

<div id="content">
  <div id="content_durchgehend">

<h2>Publications and Talks</h2>


<div class="text">Dipl.-Ing.Dr. Albert Weichselbraun<br><br><p class="text"><img src="http://bach.wu-wien.ac.at/fides/pics/pfeil_grau_short.gif" alt="" width="10" height="10" border="0"> Applied Information Technology (<a href="?search=true;wuorg=true;tid=3288;lang=EN">3288</a>)<br/></div>

    <table class="tab" cellpadding="5" cellspacing="0">
    <tr class="tab_oben">
    <td colspan="2">Publications</td>

